
#home {

    min-height: 100vh;
    display: flex;

    align-items: center;     
    justify-content: space-between; 

    padding: 0 20px;

    background: linear-gradient(135deg, #00c853 0%, #00b0ff 100%);

}

#home h2, p
{
    margin-top: 100px;
}

.laptop
{
    max-width: 100%;
    height: auto;
}


.services_text

{
    text-align: center;
    margin-top: 20px;
}

.services_img
{
    margin: auto;
}

.card-body 
{
 text-align: center;
 margin-top: 10px;
}

.card-text
{
    text-align: center;
    margin-top: 0;
}

#pricing
{
    background: #a0b7e9;
}

.popular-card {
    border: 3px solid #0d6efd;
    position: relative;

    transition: 0.3s;
}

.popular-card:hover {
    transform: translateY(-5px);
}

.popular-badge {
    position: absolute;
    top: -15px;
    left: 50%;

    transform: translateX(-50%);

    background-color: #0d6efd;
    color: white;

    padding: 5px 15px;

    border-radius: 20px;

    font-size: 14px;
    font-weight: bold;
}

#contact {
    background-color: #f8f9fa;
}

form {
    border: 1px solid #eaeaea;
}

.footer 
{
    background: #07011ad9;
    color: white;
    text-align: center;
    margin-top: 20px;
}

a
{
    color: white;
    text-decoration: none;
    justify-content: space-between; 
}